.blog-title {
    font-size: 30px;
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.blog-subtitle {
    font-size: 24px;
    width: 100%;
    background-color: #bfdde7;
    padding: 10px;
    text-align: center;
}
.blog-zone {
    display: flex;
}

.blog-input, .blog-output {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.blog-input {
    flex: 1;
}
.blog-output {
    flex: 2;
}

.blog-text-area {
    display: flex;
    padding: 10px;
    align-self: center;
    width: 100%;
}

.blog-send-btn {
    margin-left: 10px;
    max-width: 200px;
}

.blog-posts {
    padding: 10px;
    margin: 10px;
    height: calc(100vh - 154px);
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid lightgray;
}

.blog-message {
    border-bottom: 1px solid #c9e3ec;
}