<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>

  <table id="grid">
    <thead>
      <tr>
        <th data-type="number">Возраст</th>
        <th data-type="string">Имя</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>5</td>
        <td>Вася</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Петя</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Гриша</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Люба</td>
      </tr>
      <tr>
        <td>65</td>
        <td>Алиса</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Лариса</td>
      </tr>
    </tbody>
  </table>

  <script src="script.js"></script>
</body>
</html>