<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <div class="drop-down">
    <div id="arrow-left">▶ </div>
    <div id="arrow-down">▼</div>
    <div>Сладости (нажми меня)!</div>
  </div>
  <ul>
    <li>Пирожное</li>
    <li>Пончик</li>
    <li>Мёд</li>
  </ul>

  <div id="container">
    <div class="pane">
      <div class="title">
        <h3>Лошадь</h3>
        <button class="remove-button">[x]</button>
      </div>
      <p>Домашняя лошадь — животное семейства непарнокопытных, одомашненный и единственный сохранившийся подвид дикой лошади, вымершей в дикой природе, за исключением небольшой популяции лошади Пржевальского.</p>
    </div>
    <div class="pane">
      <div class="title">
        <h3>Осёл</h3>
        <button class="remove-button">[x]</button>
      </div>
      <p>Домашний осёл (лат. Equus asinus asinus), или ишак, — одомашненный подвид дикого осла (Equus asinus), сыгравший важную историческую роль в развитии хозяйства и культуры человека и по-прежнему широко в хозяйстве многих развивающихся стран.</p>
    </div>
    <div class="pane">
      <div class="title">
        <h3>Кошка</h3>
        <button class="remove-button">[x]</button>
      </div>
      <p>Кошка, или домашняя кошка (лат. Felis silvestris catus), — домашнее животное, одно из наиболее популярных(наряду с собакой) «животных-компаньонов». Являясь одиночным охотником на грызунов и других мелких животных, кошка — социальное животное, использующее для общения широкий диапазон звуковых сигналов.</p>
    </div>
  </div>

  <div class="carousel">
    <button class="arrow-back">⇦</button>
    <ul>
      <li class="emoji"><img src="https://ru.js.cx/carousel/1.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/2.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/3.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/4.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/5.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/6.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/7.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/8.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/9.png"></li>
      <li class="emoji"><img src="https://ru.js.cx/carousel/10.png"></li>
    </ul>
    <button class="arrow-forward">⇨</button>
  </div>

  <ul class="tree" id="tree">
    <li>Животные
      <ul>
        <li>Млекопитающие
          <ul>
            <li>Коровы</li>
            <li>Ослы</li>
            <li>Собаки</li>
            <li>Тигры</li>
          </ul>
        </li>
        <li>Другие
          <ul>
            <li>Змеи</li>
            <li>Птицы</li>
            <li>Ящерицы</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Рыбы
      <ul>
        <li>Аквариумные
          <ul>
            <li>Гуппи</li>
            <li>Скалярии</li>
          </ul>
        </li>
        <li>Морские
          <ul>
            <li>Морская форель</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <div id="first" class="area">
    1
    <div id="second" class="area">
      2
      <div id="third" class="area">
        3
      </div>
    </div>
  </div>

  <a href="/nowhere" id="nowhere">Got to nowhere</a>

  <div id="ownevent">You shall not PASS!!!!</div>

  <div>Some text about links navigation: <a href='https://google.com'>Google</a> or <a href='https://yandex.ru'>Yandex</a></div>

  <p><img id="largeImg" src="https://en.js.cx/gallery/img1-lg.jpg" alt="Large image"></p>

  <ul id="thumbs">
    <!-- браузер показывает небольшую встроенную подсказку из атрибута "title" при наведении курсора на текст -->
    <li>
      <a href="https://en.js.cx/gallery/img1-lg.jpg" title="Image 1"><img src="https://en.js.cx/gallery/img1-lg.jpg"></a>
    </li>
    <li>
      <a href="https://en.js.cx/gallery/img2-lg.jpg" title="Image 2"><img src="https://en.js.cx/gallery/img2-thumb.jpg"></a>
    </li>
    <li>
      <a href="https://en.js.cx/gallery/img3-lg.jpg" title="Image 3"><img src="https://en.js.cx/gallery/img3-thumb.jpg"></a>
    </li>
    <li>
      <a href="https://en.js.cx/gallery/img4-lg.jpg" title="Image 4"><img src="https://en.js.cx/gallery/img4-thumb.jpg"></a>
    </li>
    <li>
      <a href="https://en.js.cx/gallery/img5-lg.jpg" title="Image 5"><img src="https://en.js.cx/gallery/img5-thumb.jpg"></a>
    </li>
    <li>
      <a href="https://en.js.cx/gallery/img6-lg.jpg" title="Image 6"><img src="https://en.js.cx/gallery/img6-thumb.jpg"></a>
    </li>
  </ul>

  <script src="./script.js"></script>
</body>
</html>