.drop-down {
  display: flex;
}

#arrow-left {
  color: blue;
}

#arrow-down{
  color: green;;
}

.title {
  display: flex;
  justify-content: space-between;
}

.pane {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  background-color: dodgerblue;
}

.carousel {
  display: flex;
}

.arrow-back, .arrow-forward {
  display: flex;
  align-self: center;
  height: 22px;
}

.area {
  padding: 20px;
  border: 1px solid black;
}

#thumbs {
  display: flex;
  margin: 0;
  padding: 10px 0 0 0;
}

#thumbs li {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  list-style: none;
  margin-right: 5px;
}

#thumbs li a img {
  width: 100px;
  height: 100px;
}

#largeImg {
  width: 300px;
  height: 300px;
}
